@mixin minWidth($arg){
    @media screen and (min-width: $arg) {
        @content;
    }
}
@mixin maxWidth($arg){
    @media screen and (max-width: $arg) {
        @content;
    }
}
@mixin standardButton($bg-color, $font-color) {
    color: $font-color;
    border: none;
    background-color: $bg-color;
    padding: 20px 50px;
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    @include minWidth(1024px){
        font-size: 2rem;
        line-height: 2rem;
    }
}
@mixin fontLine($font-size, $line-height){
    font-size: $font-size;
    line-height: $line-height;
}
@mixin homeRestoSections($url){
    background: url($url) center center no-repeat;
    background-size: cover;
    height: 500px;
}
@mixin especificContainer($width){
    width: $width;
    max-width: 100%;
    margin: 0 auto;
}
@mixin fullWidthSection(){
    @include maxWidth($lg - 1){
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        margin-top: -.75rem;
        padding-left: 15px;
        padding-right: 15px;
    }
}