@import 'scss/mixins.scss';
@import 'scss/variables.scss';
@import 'scss/hamburger.scss';


html { font-size: 62.5%; }
body{font-size: 1.4rem;line-height: 2rem; }
a, a:link, a:visited, a:focus{
    color: inherit;
    text-decoration: none;
}
.section{
    @include minWidth($lg){
        padding: 0;
    }
}
footer{
    @include fullWidthSection();
    background: url(../img/footer_pleca.png) bottom -10px center no-repeat;
    background-size: contain;
    font-family: $lato;
    color: $grey;
    @include fontLine(1.3rem, 1.8rem);
    .top-footer{
        padding-top: 30px;
        ul{
            font-weight: bold;
            li{
                margin-bottom: 3px;
            }
        }
        .footer-correo{
            i{
                @include fontLine(2.5rem, 2.5rem);
                margin-bottom: 10px;
                &:nth-of-type(2){
                    margin-top: 30px;
                }
            }
        }
    }
    .footer-bottom{
        margin-top: 100px;
        background-color: $calidra-red;
        color: #ffffff;
        @include fontLine(1.2rem, 1.8rem);
        font-family: $open-sans;
        font-weight: bold;
        &-border{
            display: inline-block;
            border-right: 2px solid #ffffff;
            padding-right: 40px;
            margin: 7px 0;
        }
    }
}
.nav-container{
    font-family: $open-sans;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    .top-menu{
        background-color: #000000;
        color: #ffffff;
        .search-container{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 15px;
            @include minWidth($md) {
                padding: 15px 0;
            }
            p{
                margin-left: 30px;
            }
        }
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        .logo{
            width: 20%;
            @include maxWidth($lg - 1){
                margin-left: 10px;
            }
        }
        .burger{
            position: relative;
            z-index: 101;
            @include minWidth($lg){
                display: none;
            }
        }
        .nav-ul{
            &.open{
                @include maxWidth($lg - 1){
                    transform: translate(0, 0);
                }
            }
            @include maxWidth($lg - 1){
                display: block;
                width: 100%;
                height: 100vh;
                background-color: $ultra-dark-grey;
                position: fixed;
                z-index: 100;
                top: 0;
                left: 0;
                color: $ultra-light-grey;
                padding-top: 80px;
                transition: all 500ms ease-in-out;
                transform: translate(100%, 0);
            }
            @include minWidth($lg){
                display: flex;
                justify-content: space-between;
                margin-left: 20px;
                width: 80%;
            }
            li{
                @include maxWidth($lg - 1){
                    text-align: center;
                    font-size: 2rem;
                    margin: 30px 0;
                }
                @include minWidth($lg){
                    margin: 0 10px;
                }
                @include minWidth($xl){
                    margin: 0;
                }
            }
        }
    }
}
.hero-banner{
    width: 100%;
    height: calc(100vh - 121px);
    position: relative;
    @include minWidth($lg){
        height: 600px;
    }
    .hero-copy-container{
        background-color: rgba($color: $calidra-red, $alpha: .85);
        width: 40%;
        height: 100%;
        position: relative;
        @include minWidth($lg){
            width: 25%;
        }
        .hero-copy{
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(50%, -50%);
            color: #ffffff;
            font-family: $century;
            @include fontLine(3rem, 3rem);
            font-weight: bold;
            width: 60vw;
            text-shadow: $outter-shadow;
            @include minWidth($lg){
                @include fontLine(6rem, 6rem);
                right: -50px;
                transform: translate(0, -50%);
                width: 90%;
            }
            @include minWidth($xxxl){
                right: -230px;
            }
            .hero-big-copy{
                @include fontLine(4.5rem, 4.5rem);
                text-transform: uppercase;
                @include minWidth($lg){
                    @include fontLine(8rem, 8rem);
                    margin-bottom: 20px;
                }
            }
        }
        .hero-cta{
            @include standardButton(#ffffff, #000000);
            margin-top: 50px;
        }
    }
}
.home-productos{
    @include minWidth($lg){
        padding: 50px 0;
    }
    &-desc{
        @include minWidth($lg){
            padding: 0 50px 0 0;
        }
        h2{
            font-family: $century;
            @include fontLine(3rem, 3rem);
            color: $grey;
            margin-bottom: 20px;
            text-transform: uppercase;
            @include minWidth($lg){
                @include fontLine(5rem, 5rem);
            }
        }
        p{
            font-family: $lato;
            text-align: justify;
            font-size: 1.4rem;
            @include minWidth($lg){
                font-size: 1.6rem;
            }
        }
    }
    &-item-cont{
        position: relative;
        @include minWidth($lg){
            padding: 0 0 0 50px;
        }
        .home-productos-item{
            background-color: $ultra-dark-grey;
            padding: 40px 50px 100px;
            color: #ffffff;
            position: relative;
            @include minWidth($lg){
                padding: 40px 50px 200px;
            }
            .productos-numero{
                position: absolute;
                top: 5px;
                left: 15px;
                color: rgba($color: $grey, $alpha: 0.5);
               @include fontLine(10rem, 10rem);
               font-family: $montserrat;
            }
            .productos-icono{
                width: 25%;
                display: block;
                margin: 0 auto 30px;
            }
            .producto-titulo{
                font-family: $century;
                font-style: italic;
                font-weight: bold;
                @include fontLine(2.8rem, 2.8rem);
                text-align: center;
                width: 45%;
                margin: 0 auto;
            }
            .producto-separador{
                margin: 30px auto;
                width: 50px;
                height: 3px;
                background-color: $calidra-red;
            }
            .producto-desc{
                font-family: $century;
                color: $white-grey;
                text-align: justify;
            }
            .producto-vermas{
                font-family: $century;
                text-transform: uppercase;
                text-decoration: underline;
                @include fontLine(1.2rem, 1.2rem);
                font-weight: bold;
                color: $white-grey;
                letter-spacing: 4px;
                margin: 30px 0;
            }
        }   
        .productos-navegador{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            overflow: hidden;
            background-color: rgba($color: $calidra-red, $alpha: 0.9);
            border-radius: 100%;
            display: flex;
            @include minWidth($lg){
                left: calc(50% + 25px);
            }
            div{
                position: relative;
                width: 70px;
                height: 140px;
                span{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #ffffff;
                    font-family: $century;
                    font-size: 5rem;
                    line-height: 4.5rem;
                }
            }
        }
    }
}
.home-resto-contenido{
    background-color: $white-dark-grey;
    padding-bottom: 30px;
    position: relative;
    z-index: 2;
    .container{
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,0) 45%, rgba(237,29,36,1) 45%, rgba(237,29,36,1) 45%, rgba(237,29,36,1) 50%, rgba(237,29,36,1) 55%, rgba(255,255,255,0) 55%);
        position: relative;
        padding-top: 10px;
        @include minWidth($lg){
            padding-top: 80px;
        }
        h3{
            font-family: $montserrat;
            @include fontLine(5rem, 5rem);
            position: relative;
            top: -30px;
            text-shadow: $outter-shadow;
            color: #ffffff;
            width: 100%;
            @include minWidth($lg){
                width: 35%;
            }
        }
        .usos-cotidianos{
            @include homeRestoSections('../img/home/usos_cotidianos.jpg');
        }
        .home-blog{
            @include homeRestoSections('../img/home/blog.jpg');
            margin-top: 40px;
            @include minWidth($lg){
                margin-top: 0;
            }
        }
        .home-asesor{
            @include homeRestoSections('../img/home/asesor.jpg');
            margin-top: 40px;
            position: relative;
            z-index: 2;
            h3{
                top: -40px;
            }
        }
        .go-down-arrow{
            width: 160px;
            height: 160px;
            background-color: rgba($color: $calidra-red, $alpha: 0.9);
            border-radius: 100%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 70%);
            z-index: 0;
            display: flex;
            align-items: flex-end;
            .flecha_down{
                border-left: 4px solid #ffffff;
                border-bottom: 4px solid #ffffff;
                transform: rotate(-45deg);
                margin: 0 auto 20px;
                width: 28px;
                height: 28px;
            }
        }
    }
}
.contacto-banner{
    width: 100%;
    height: 100vh;
    position: relative;
    @include minWidth($lg){
        height: 500px;
    }
    .contacto-copy-container{
        background-color: rgba($color: #000000, $alpha: .63);
        width: 40%;
        height: 100%;
        position: relative;
        @include minWidth($lg){
            width: 25%;
        }
        .contacto-copy{
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(50%, -50%);
            color: #ffffff;
            font-family: $century;
            @include fontLine(1.3rem, 1.9rem);
            width: 60vw;
            text-shadow: $outter-shadow;
            @include minWidth($lg){
                right: -50px;
                transform: translate(0, -50%);
                width: 90%;
            }
            @include minWidth($xxxl){
                right: -230px;
            }
            .contacto-big-copy{
                @include fontLine(2.5rem, 2.5rem);
                font-weight: bold;
                text-transform: uppercase;
                @include minWidth($lg){
                    @include fontLine(5rem, 5rem);
                    margin-bottom: 20px;
                }
            }
        }
        .contacto-cta{
            @include standardButton($calidra-red, #ffffff);
            margin-top: 50px;
        }
    }
}
.seccion-hero{
    width: 100%;
    height: 450px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        @include minWidth($lg){
            justify-content: flex-start;
        }
        &.derecho{
            justify-content: center;
            @include minWidth($lg){
                justify-content: flex-end;
            }
        }
        p{
            @include fontLine(4rem, 4rem);
            color: $ultra-dark-grey;
            text-transform: capitalize;
            font-family: $century;
            font-weight: bold;
            padding-bottom: 20px;
            text-shadow: $outter-glow;
            @include minWidth($lg){
                @include fontLine(8rem, 8rem);
            }
            &.blanco{
                color: #ffffff;
                text-shadow: $outter-shadow;
            }
        }
    }
}
.quienes-somos{
    margin: 20px 0 50px;
    &-titulo-cont{
        h2{
            text-align: center;
            color: $grey;
            @include fontLine(4.5rem, 4.5rem);
            text-transform: uppercase;
            font-family: $century;
            font-weight: bold;
        }
    }
    &-mini-cont{
        @include especificContainer(800px);
        margin: 50px auto 70px;
        .quienes-somos-texto{
            margin-bottom: 30px;
            font-family: $lato;
            p{
                margin-bottom: 20px;
                text-align: justify;
            }
        }
        .quienes-somos-iconos{
            text-align: center;
            font-family: $century;
            font-weight: bold;
            @include fontLine(1.6rem, 1.6rem);
            font-style: italic;
            p{
                margin-top: 20px;
            }
        }
    }
    .responsabilidad-social{
        background-color: $ultra-dark-grey;
        padding: 20px 0;
        position: relative;
        @include fullWidthSection();
        @include minWidth($lg){
            padding: 80px 0;
        }
        &-imagen-cont{
            text-align: right;
            img{
                width: 1000px;
                max-width: 100%;
            }
        }
        &-texto{
            color: #ffffff;
            text-shadow: $outter-shadow;
            width: 100%;
            @include minWidth($lg){
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            h2{
                font-family: $century;
                @include fontLine(3.5rem, 3.5rem);
                width: 900px;
                max-width: 100%;
                margin-bottom: 30px;
                font-weight: bold;
                @include minWidth($lg){
                    @include fontLine(7rem, 7rem);
                }
            }
            p{
                margin-bottom: 20px;
                font-family: $lato;
                width: 750px;
                max-width: 100%;
            }
        }
    }
    .colabora-nosotros{
        padding: 80px 0;
        .colabora-imagen{
            position: relative;
            .colabora-imagen-over{
                height: 350px;
                overflow: hidden;
                @include minWidth($lg){
                    height: 550px;
                }
                img{
                    min-width: 100%;
                    min-height: 100%;
                }
            }
            h2{
                color: #ffffff;
                font-family: $century;
                @include fontLine(4rem, 4rem);
                font-weight: bold;
                text-shadow: $outter-shadow;
                position: absolute;
                left: 20px;
                bottom: 0;
                transform: translate(0, 25%);
                @include minWidth($lg){
                    @include fontLine(8rem, 8rem);
                }
            }
        }
        p{
            color: $grey;
            margin: 50px 0;
            font-family: $lato;
            @include fontLine(1.6rem, 2.2rem);
        }
        .colabora-vermas{
            font-family: $century;
            text-transform: uppercase;
            text-decoration: underline;
            @include fontLine(1.2rem, 1.2rem);
            font-weight: bold;
            color: $ultra-dark-grey;
            letter-spacing: 4px;
            margin: 30px 0;
        }
    }
    .corporativo-iniciativas-cont{
        background: url(../img/corporativo/hexagonos.jpg) top center no-repeat;
        background-size: cover;
        color: #ffffff;
        padding: 150px 0 0;
        @include fullWidthSection();
        .corporativo-iniciativas{
            width: 800px;
            max-width: 100%;
            margin-bottom: 80px;
            h2{
                font-family: $century;
                @include fontLine(4rem, 4rem);
                margin-bottom: 40px;
                font-weight: bold;
            }
            p{
                font-family: $lato;
                @include fontLine(1.5rem, 2rem);
            }
        }
        .corporativo-iniciativas-slider{
            @include minWidth($lg){
                transform: translate(0, 60%);
                margin-top: -200px;
                margin-bottom: 300px;
            }
            .columns{
                justify-content: flex-end;
                .corporativo-iniciativas-slider-texto{
                    flex-basis: unset;
                    flex-grow: 0;
                    flex-shrink: 0;
                    font-family: $lato;
                    @include minWidth($lg){
                        padding-right: 50px;
                        width: 40%
                    }
                    h3{
                        @include fontLine(2.5rem, 3rem);
                        margin-bottom: 20px;
                        font-weight: bold;
                        text-transform: uppercase;
                        letter-spacing: 10px;
                    }
                }
                .corporativo-iniciativas-slider-imagen{
                    flex-basis: unset;
                    flex-grow: 0;
                    flex-shrink: 0;
                    position: relative;
                    padding-left: 0;
                    @include minWidth($lg){
                        top: -80px;
                    }
                    .corporativo-navegador{
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translate(-50%, 50%);
                        overflow: hidden;
                        background-color: rgba($color: $ultra-dark-grey, $alpha: 0.9);
                        border-radius: 100%;
                        display: flex;
                        @include minWidth($lg){
                            bottom: 50%;
                            left: 0;
                            transform: translate(-50%, 50%);
                        }
                        div{
                            position: relative;
                            width: 70px;
                            height: 140px;
                            span{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                color: #ffffff;
                                font-family: $century;
                                font-size: 5rem;
                                line-height: 4.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
.colabora-nosotros-seccion{
    .colabora-nosotros-titulo-cont {
        @include especificContainer(800px);
        margin-bottom: 50px;
        @include minWidth($lg){
            margin-top: 50px;
            margin-bottom: 50px;
        }
        h2{
            text-align: center;
            color: $grey;
            @include fontLine(3rem, 3rem);
            text-transform: uppercase;
            font-family: $century;
            font-weight: bold;
            margin-bottom: 70px;
            @include minWidth($lg){
                @include fontLine(4.5rem, 4.5rem);
            }
        }
    }
    .colabora-vacantes-cont{
        padding: 20px 0;
        @include minWidth($lg){
            @include fontLine(1.5rem, 2rem);
            background: rgb(26,26,26);
            background: linear-gradient(180deg, rgba(26,26,26,1) 0%, rgba(26,26,26,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
            padding: 80px 0;
        }
        .columns{
            .column{
                &:last-child{
                    .colabora-vacantes{
                        margin-bottom: 0;
                        h3{
                            @include fontLine(3rem, 3rem);
                            @include minWidth($lg){
                                @include fontLine(3rem, 3rem);
                            }
                        }
                    }
                }
            }
        }
        .colabora-vacantes{
            position: relative;
            text-align: center;
            margin-bottom: 30px;
            @include minWidth($lg){
                margin-bottom: 0;
            }
            h3{
                color: #ffffff;
                text-shadow: $outter-shadow;
                font-family: $montserrat;
                font-weight: bold;
                @include fontLine(4rem, 4rem);
                position: absolute;
                top: 0;
                left: 20px;
                transform: translate(0, -50%);
                text-align: left;
            }
            img{
                width: 100%;
            }
            p{
                text-align: left;
                font-family: $lato;
                color: $grey;
                max-width: 95%;
                margin: 20px auto 0;
            }
        }
        .column{
            &:last-child{
                .colabora-vacantes{
                    h3{
                        transform: translate(0, -30%);
                    }
                }
            }
        }
    }
    .colabora-creciendo-cont{
        .colabora-creciendo{
            background: url(../img/corporativo/hexagonos.jpg) top center no-repeat;
            @include fullWidthSection();
            background-size: cover;
            color: #ffffff;
            padding: 100px 0 50px;
            .colabora-creciendo-int{
                @include especificContainer(800px);
                h3{
                    font-family: $century;
                    font-weight: bold;
                    @include fontLine(4rem, 4rem);
                    text-align: center;
                    margin-bottom: 20px;
                }
                p{
                    @include fontLine(1.3rem, 1.5rem);
                    margin-bottom: 20px;
                    color: $white-grey;
                    padding-left: 20px;
                }
                .colabora-creciendo-numeros{
                    padding-top: 20px;
                    .colabora-creciendo-numero-cont{
                        padding-bottom: 20px;
                        .colabora-creciendo-numero{
                            &-int{
                                width: 40px;
                                height: 40px;
                                background-color: $ultra-dark-grey;
                                border-radius: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                span{
                                    display: block;
                                    font-family: $montserrat;
                                    @include fontLine(1.6rem, 1.3rem);
                                }
                            }
                            + div{
                                font-family: $lato;
                                color: $white-grey;
                                @include fontLine(1.3rem, 1.5rem);
                                font-weight: bold;
                                span{
                                    font-style: italic;
                                    font-weight: normal;
                                }
                            }
                        }
                    }
                }
            }
        }
        .colabora-tabs{
            text-align: center;
            .column{
                display: flex;
                align-items: center;
                justify-content: center;
                @include fontLine(2rem, 1.8rem);
                color: #ffffff;
                font-family: $century;
                font-weight: bold;
                height: 100px;
                background-color: $ultra-dark-grey;
                border-right: 1px solid #ffffff;
                &:last-child{
                    border: none;
                }
                &.active{
                    background-color: $calidra-red;
                    position: relative;
                    &::after{
                        content: ' ';
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translate(-50%, 100%);
                        width: 0; 
                        height: 0; 
                        border-left: 20px solid transparent;
                        border-right: 20px solid transparent;
                        border-top: 20px solid $calidra-red;
                    }
                }
            }
        }
        .colabora-tabs-contenido{
            @include especificContainer(800px);
            padding: 80px 10px;
            color: $grey;
            h4{
                font-family: $century;
                font-style: italic;
                font-weight: bold;
                @include fontLine(4rem, 4rem);
                margin-bottom: 50px;
            }
            ul{
                padding-left: 1em;
                li{
                    @include fontLine(1.8rem, 1.8rem);
                    margin: 10px 0;
                    &::before{
                        content: "\2022";
                        color: $calidra-red;
                        font-weight: bold;
                        display: inline-block; 
                        width: 1em;
                        margin-left: -1em;
                    }
                }
            }
        }
    }
}
.usos-cotidianos{
    padding-top: 50px;
    &-desc{
        @include especificContainer(800px);
        margin-bottom: 50px;
        p{
            margin-bottom: 20px;
            font-family: $lato;
            @include fontLine(1.5rem, 2rem);
            color: $grey;
        }
    }
    &-acordeon{
        &-item{
            padding: 30px 0;
            border-bottom: 1px solid $ultra-light-grey;
            &-header{
                p{
                    font-family: $century;
                    @include fontLine(2.5rem, 2.2rem);
                    @include minWidth($lg){
                        @include fontLine(4rem, 3.7rem);
                    }
                    color: #000000;
                    font-weight: bold;
                }
                .acordeon-down-arrow{
                    width: 30px;
                    height: 30px;
                    background-color: $calidra-red;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include minWidth($lg){
                        width: 50px;
                        height: 50px;
                    }
                    .flecha_down{
                        border-left: 3px solid #ffffff;
                        border-bottom: 3px solid #ffffff;
                        transform: rotate(-45deg);
                        width: 12px;
                        height: 12px;
                        margin-bottom: 6px;
                        @include minWidth($lg){
                            width: 18px;
                            height: 18px;
                            margin-bottom: 10px;
    
                        }
                        &.is-active{
                            transform: rotate(135deg);
                            margin-bottom: -4px;
                            @include minWidth($lg){
                                margin-bottom: -5px;
        
                            }
                        }
                    }
                }
            }
            &-body{
                max-height: 0;
                overflow: hidden;
                transition: all 500ms ease-in-out;
                &.is-active{
                    max-height: 1000px;
                }
            }
        }
    }
}
.seccion-template{
    &-desc{
        @include especificContainer(800px);
        color: $grey;
        @include fontLine(1.5rem, 2rem);
        margin-top: 60px;
        margin-bottom: 60px;
        font-family: $lato;
        p{
            margin-bottom: 20px;
        }
    }
    &-productos{
        h3{
            text-align: center;
            @include fontLine(5rem, 5rem);
            font-family: $century;
            color: $grey;
            margin-bottom: 50px;
        }
    }
    &-localizador{
        background: url(../img/seccion_template/localizador_back.jpg) top center no-repeat;
        background-size: cover;
        color: #ffffff;
        padding-top: 80px;
        text-align: center;
        &-cta{
            display: inline-block;
            text-align: left;
            h3{
                font-family: $century;
                @include fontLine(3rem, 3.5rem);
                margin-bottom: 20px;
            }
            p{
                font-family: $lato;
                margin-bottom: 30px;
            }
        }
        button{
            @include standardButton($ultra-dark-grey, #ffffff);
        }
    }
    &-videos{
        h3{
            @include fontLine(5rem, 5rem);
            font-family: $century;
            color: $grey;
            margin: 50px 0;
        }
        .video-cont{
            width: 100%;
            position: relative;
            background: url(../img/seccion_template/video.jpg) center center no-repeat;
            background-size: cover;
            &.video-big{
                height: 500px;
            }
            &.video-small{
                height: 245px;
                &:first-child{
                    margin-bottom: 10px;
                }
            }
            .black-screen{
              position: absolute;
              background-color: rgba(0, 0, 0, 0.5);
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              .play-button{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100px;
                height: 100px;
                background-color: red;
                border-radius: 100%;
                .play-arrow{
                    box-sizing: border-box;
                    width: 44px;
                    height: 44px;
                    border-style: solid;
                    border-width: 22px 0 22px 44px;
                    border-color: transparent transparent transparent #ffffff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-40%, -50%);
                }
              }
            }
          }
    }
}