.burger {
  width: 40px;
  height: 35px;
  position: relative;
  margin: 0 20px 0 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.burger span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #ed1d24;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.burger span:nth-child(1) {
  top: 0px;
}

.burger span:nth-child(2), .burger span:nth-child(3) {
  top: 10px;
}

.burger span:nth-child(4) {
  top: 20px;
}

.burger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.burger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 2rem;
}

a, a:link, a:visited, a:focus {
  color: inherit;
  text-decoration: none;
}

.cerrado {
  opacity: 0;
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 0;
  }
}

.slider-navigation-previous, .slider-navigation-next {
  display: none;
}

.slider-anim {
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}

.slider-anim.animado {
  opacity: 0;
}

footer {
  background: url(../img/footer_pleca.png) bottom -10px center no-repeat;
  background-size: contain;
  font-family: "Lato", sans-serif;
  color: #3e3e3e;
  border-top: 1px solid #dbdbdb;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

footer .top-footer {
  padding-top: 30px;
}

footer .top-footer ul {
  font-weight: bold;
}

@media screen and (max-width: 1023px) {
  footer .top-footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer .top-footer ul li {
  margin-bottom: 3px;
}

@media screen and (max-width: 1023px) {
  footer .top-footer ul li {
    width: 33.33333%;
  }
}

footer .top-footer .footer-correo i {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 10px;
}

footer .top-footer .footer-correo i:nth-of-type(2) {
  margin-top: 30px;
}

@media screen and (max-width: 1023px) {
  footer .top-footer .redes {
    padding-bottom: 30px;
    text-align: center;
  }
}

footer .footer-bottom {
  margin-top: 100px;
  background-color: #ed1d24;
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 1023px) {
  footer .footer-bottom {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-top: -.75rem;
    padding-left: 15px;
    padding-right: 15px;
  }
}

footer .footer-bottom-border {
  display: inline-block;
  border-right: 2px solid #ffffff;
  padding-right: 40px;
  margin: 7px 0;
}

.nav-container {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-container .top-menu {
  background-color: #000000;
  color: #ffffff;
}

.nav-container .top-menu .search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .nav-container .top-menu .search-container {
    padding: 15px 0;
  }
}

.nav-container .top-menu .search-container p {
  margin-left: 30px;
}

.nav-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.nav-container nav .logo {
  width: 30%;
}

@media screen and (max-width: 1023px) {
  .nav-container nav .logo {
    margin-left: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .nav-container nav .logo {
    width: 20%;
  }
}

.nav-container nav .burger {
  position: relative;
  z-index: 101;
}

@media screen and (min-width: 1024px) {
  .nav-container nav .burger {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .nav-container nav .nav-ul.open {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media screen and (max-width: 1023px) {
  .nav-container nav .nav-ul {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #202020;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    color: #808080;
    padding-top: 80px;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}

@media screen and (min-width: 1024px) {
  .nav-container nav .nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 20px;
    width: 80%;
  }
}

@media screen and (max-width: 1023px) {
  .nav-container nav .nav-ul li {
    text-align: center;
    font-size: 2rem;
    margin: 30px 0;
  }
}

@media screen and (min-width: 1024px) {
  .nav-container nav .nav-ul li {
    margin: 0 10px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-container nav .nav-ul li {
    margin: 0;
  }
}

.hero-banner {
  width: 100%;
  height: calc(100vh - 121px);
  position: relative;
}

@media screen and (min-width: 1024px) {
  .hero-banner {
    height: 600px;
  }
}

.hero-banner .hero-copy-container {
  background-color: rgba(237, 29, 36, 0.85);
  width: 40%;
  height: 100%;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .hero-banner .hero-copy-container {
    width: 25%;
  }
}

.hero-banner .hero-copy-container .hero-copy {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  color: #ffffff;
  font-family: "Century Gothic", sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
  width: 60vw;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.65);
}

@media screen and (min-width: 1024px) {
  .hero-banner .hero-copy-container .hero-copy {
    font-size: 6rem;
    line-height: 6rem;
    right: -50px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 90%;
  }
}

@media screen and (min-width: 1800px) {
  .hero-banner .hero-copy-container .hero-copy {
    right: -230px;
  }
}

.hero-banner .hero-copy-container .hero-copy .hero-big-copy {
  font-size: 4.5rem;
  line-height: 4.5rem;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .hero-banner .hero-copy-container .hero-copy .hero-big-copy {
    font-size: 8rem;
    line-height: 8rem;
    margin-bottom: 20px;
  }
}

.hero-banner .hero-copy-container .hero-cta {
  color: #000000;
  border: none;
  background-color: #ffffff;
  padding: 20px 50px;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 50px;
}

@media screen and (min-width: 1024px) {
  .hero-banner .hero-copy-container .hero-cta {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .home-productos {
    padding: 50px 0;
  }
}

@media screen and (min-width: 1024px) {
  .home-productos-desc {
    padding: 0 50px 0 0;
  }
}

.home-productos-desc h2 {
  font-family: "Century Gothic", sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  color: #3e3e3e;
  margin-bottom: 20px;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .home-productos-desc h2 {
    font-size: 5rem;
    line-height: 5rem;
  }
}

.home-productos-desc p {
  font-family: "Lato", sans-serif;
  text-align: justify;
  font-size: 1.4rem;
}

@media screen and (min-width: 1024px) {
  .home-productos-desc p {
    font-size: 1.6rem;
  }
}

.home-productos-item-cont {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .home-productos-item-cont .slider-item {
    padding: 0 15px;
  }
}

.home-productos-item-cont .productos-carousel-item {
  height: 100%;
}

.home-productos-item-cont .home-productos-item {
  background-color: #202020;
  padding: 40px 10px 100px;
  color: #ffffff;
  position: relative;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .home-productos-item-cont .home-productos-item {
    padding: 40px 50px 150px;
  }
}

.home-productos-item-cont .home-productos-item .productos-numero {
  position: absolute;
  top: 5px;
  left: 15px;
  color: rgba(62, 62, 62, 0.5);
  font-size: 12rem;
  line-height: 12rem;
  font-family: "Montserrat", sans-serif;
}

.home-productos-item-cont .home-productos-item .productos-icono {
  width: 25%;
  display: block;
  margin: 0 auto 30px;
}

.home-productos-item-cont .home-productos-item .producto-titulo {
  font-family: "Century Gothic", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 2.8rem;
  text-align: center;
  width: 45%;
  margin: 0 auto;
}

.home-productos-item-cont .home-productos-item .producto-separador {
  margin: 30px auto;
  width: 50px;
  height: 3px;
  background-color: #ed1d24;
}

.home-productos-item-cont .home-productos-item .producto-desc {
  font-family: "Century Gothic", sans-serif;
  color: #e3e3e3;
  text-align: justify;
}

.home-productos-item-cont .home-productos-item .producto-vermas {
  font-family: "Century Gothic", sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: bold;
  color: #e3e3e3;
  letter-spacing: 4px;
  margin: 30px 0;
}

.home-productos-item-cont .productos-navegador {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  overflow: hidden;
  background-color: rgba(237, 29, 36, 0.9);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-productos-item-cont .productos-navegador div {
  position: relative;
  width: 70px;
  height: 140px;
  cursor: pointer;
}

.home-productos-item-cont .productos-navegador div span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: "Century Gothic", sans-serif;
  font-size: 5rem;
  line-height: 4.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.home-resto-contenido {
  background-color: #dbdbdb;
  padding-bottom: 30px;
  position: relative;
  z-index: 2;
}

.home-resto-contenido .container {
  background: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(45%, rgba(255, 255, 255, 0)), color-stop(45%, #ed1d24), color-stop(45%, #ed1d24), color-stop(50%, #ed1d24), color-stop(55%, #ed1d24), color-stop(55%, rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 45%, #ed1d24 45%, #ed1d24 45%, #ed1d24 50%, #ed1d24 55%, rgba(255, 255, 255, 0) 55%);
  position: relative;
  padding-top: 10px;
}

@media screen and (min-width: 1024px) {
  .home-resto-contenido .container {
    padding-top: 80px;
  }
}

.home-resto-contenido .container h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  line-height: 5rem;
  position: relative;
  top: -30px;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.65);
  color: #ffffff;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .home-resto-contenido .container h3 {
    width: 35%;
  }
}

.home-resto-contenido .container .usos-cotidianos-home {
  background: url("../img/home/usos_cotidianos.jpg") center center no-repeat;
  background-size: cover;
  height: 500px;
  padding-top: 50px;
}

.home-resto-contenido .container .usos-cotidianos-home h3 {
  margin-top: -90px;
}

.home-resto-contenido .container .home-blog {
  background: url("../img/home/blog.jpg") center center no-repeat;
  background-size: cover;
  height: 500px;
  margin-top: 40px;
}

@media screen and (min-width: 1024px) {
  .home-resto-contenido .container .home-blog {
    margin-top: 0;
  }
}

.home-resto-contenido .container .home-asesor {
  background: url("../img/home/asesor.jpg") center center no-repeat;
  background-size: cover;
  height: 500px;
  margin-top: 40px;
  position: relative;
  z-index: 2;
}

.home-resto-contenido .container .home-asesor h3 {
  top: -40px;
}

.home-resto-contenido .container .go-down-arrow {
  width: 160px;
  height: 160px;
  background-color: rgba(237, 29, 36, 0.9);
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 70%);
          transform: translate(-50%, 70%);
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home-resto-contenido .container .go-down-arrow .flecha_down {
  border-left: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0 auto 20px;
  width: 28px;
  height: 28px;
}

.contacto-banner {
  width: 100%;
  height: 70vh;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .contacto-banner {
    height: 500px;
  }
}

.contacto-banner .contacto-copy-container {
  background-color: rgba(0, 0, 0, 0.63);
  width: 40%;
  height: 100%;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .contacto-banner .contacto-copy-container {
    width: 25%;
  }
}

.contacto-banner .contacto-copy-container .contacto-copy {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  color: #ffffff;
  font-family: "Century Gothic", sans-serif;
  font-size: 1.3rem;
  line-height: 1.9rem;
  width: 60vw;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.65);
}

@media screen and (min-width: 1024px) {
  .contacto-banner .contacto-copy-container .contacto-copy {
    right: -50px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 90%;
  }
}

@media screen and (min-width: 1800px) {
  .contacto-banner .contacto-copy-container .contacto-copy {
    right: -230px;
  }
}

.contacto-banner .contacto-copy-container .contacto-copy .contacto-big-copy {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .contacto-banner .contacto-copy-container .contacto-copy .contacto-big-copy {
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 20px;
  }
}

.contacto-banner .contacto-copy-container .contacto-cta {
  color: #ffffff;
  border: none;
  background-color: #ed1d24;
  padding: 20px 50px;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 50px;
}

@media screen and (min-width: 1024px) {
  .contacto-banner .contacto-copy-container .contacto-cta {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.seccion-hero {
  width: 100%;
  height: 450px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.seccion-hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 1024px) {
  .seccion-hero .container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0;
  }
}

.seccion-hero .container.derecho {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.seccion-hero .container p {
  font-size: 4rem;
  line-height: 4rem;
  color: #202020;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  padding-bottom: 20px;
  text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.65);
}

@media screen and (min-width: 1024px) {
  .seccion-hero .container p {
    font-size: 8rem;
    line-height: 8rem;
  }
}

.seccion-hero .container p.blanco {
  color: #ffffff;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.65);
}

.quienes-somos {
  margin: 20px 0 50px;
}

.quienes-somos-titulo-cont h2 {
  text-align: center;
  color: #3e3e3e;
  font-size: 4.5rem;
  line-height: 4.5rem;
  text-transform: uppercase;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
}

.quienes-somos-mini-cont {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  margin: 50px auto 70px;
}

.quienes-somos-mini-cont .quienes-somos-texto {
  margin-bottom: 30px;
  font-family: "Lato", sans-serif;
}

.quienes-somos-mini-cont .quienes-somos-texto p {
  margin-bottom: 20px;
  text-align: justify;
}

.quienes-somos-mini-cont .quienes-somos-iconos {
  text-align: center;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-style: italic;
}

.quienes-somos-mini-cont .quienes-somos-iconos p {
  margin-top: 20px;
}

.quienes-somos .responsabilidad-social {
  background-color: #202020;
  padding: 20px 0;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .quienes-somos .responsabilidad-social {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-top: -.75rem;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .quienes-somos .responsabilidad-social {
    padding: 80px 0;
  }
}

.quienes-somos .responsabilidad-social-imagen-cont {
  text-align: right;
}

.quienes-somos .responsabilidad-social-imagen-cont img {
  width: 1000px;
  max-width: 100%;
}

.quienes-somos .responsabilidad-social-texto {
  color: #ffffff;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.65);
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .quienes-somos .responsabilidad-social-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.quienes-somos .responsabilidad-social-texto h2 {
  font-family: "Century Gothic", sans-serif;
  font-size: 3.5rem;
  line-height: 3.5rem;
  width: 900px;
  max-width: 100%;
  margin-bottom: 30px;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .quienes-somos .responsabilidad-social-texto h2 {
    font-size: 7rem;
    line-height: 7rem;
  }
}

.quienes-somos .responsabilidad-social-texto p {
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  width: 750px;
  max-width: 100%;
}

.quienes-somos .colabora-nosotros {
  padding: 80px 0;
}

.quienes-somos .colabora-nosotros .colabora-imagen {
  position: relative;
}

.quienes-somos .colabora-nosotros .colabora-imagen .colabora-imagen-over {
  height: 350px;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .quienes-somos .colabora-nosotros .colabora-imagen .colabora-imagen-over {
    height: 550px;
  }
}

.quienes-somos .colabora-nosotros .colabora-imagen .colabora-imagen-over img {
  min-width: 100%;
  min-height: 100%;
}

.quienes-somos .colabora-nosotros .colabora-imagen h2 {
  color: #ffffff;
  font-family: "Century Gothic", sans-serif;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: bold;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.65);
  position: absolute;
  left: 20px;
  bottom: 0;
  -webkit-transform: translate(0, 25%);
          transform: translate(0, 25%);
}

@media screen and (min-width: 1024px) {
  .quienes-somos .colabora-nosotros .colabora-imagen h2 {
    font-size: 8rem;
    line-height: 8rem;
  }
}

.quienes-somos .colabora-nosotros p {
  color: #3e3e3e;
  margin: 50px 0;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.quienes-somos .colabora-nosotros .colabora-vermas {
  font-family: "Century Gothic", sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: bold;
  color: #202020;
  letter-spacing: 4px;
  margin: 30px 0;
}

.quienes-somos .corporativo-iniciativas-cont {
  background: url(../img/corporativo/hexagonos.jpg) top center no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 150px 0 0;
}

@media screen and (max-width: 1023px) {
  .quienes-somos .corporativo-iniciativas-cont {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-top: -.75rem;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas {
  width: 800px;
  max-width: 100%;
  margin-bottom: 80px;
}

.quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas h2 {
  font-family: "Century Gothic", sans-serif;
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 40px;
  font-weight: bold;
}

.quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas p {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
}

@media screen and (min-width: 1024px) {
  .quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas-slider {
    -webkit-transform: translate(0, 60%);
            transform: translate(0, 60%);
    margin-top: -200px;
    margin-bottom: 300px;
  }
}

.quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas-slider .columns {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas-slider .columns .corporativo-iniciativas-slider-texto {
  -ms-flex-preferred-size: unset;
      flex-basis: unset;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-family: "Lato", sans-serif;
}

@media screen and (min-width: 1024px) {
  .quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas-slider .columns .corporativo-iniciativas-slider-texto {
    padding-right: 50px;
    width: 40%;
  }
}

.quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas-slider .columns .corporativo-iniciativas-slider-texto h3 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas-slider .columns .corporativo-iniciativas-slider-imagen {
  -ms-flex-preferred-size: unset;
      flex-basis: unset;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  padding-left: 0;
}

.quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas-slider .columns .corporativo-iniciativas-slider-imagen-cont {
  width: 600px;
  height: 400px;
  overflow: hidden;
}

.quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas-slider .columns .corporativo-iniciativas-slider-imagen-cont img {
  min-width: 100%;
  min-height: 100%;
}

@media screen and (min-width: 1024px) {
  .quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas-slider .columns .corporativo-iniciativas-slider-imagen {
    top: -80px;
  }
}

.quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas-slider .columns .corporativo-iniciativas-slider-imagen .corporativo-navegador {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  overflow: hidden;
  background-color: rgba(32, 32, 32, 0.9);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1024px) {
  .quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas-slider .columns .corporativo-iniciativas-slider-imagen .corporativo-navegador {
    bottom: 50%;
    left: 0;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
}

.quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas-slider .columns .corporativo-iniciativas-slider-imagen .corporativo-navegador div {
  position: relative;
  width: 70px;
  height: 140px;
  cursor: pointer;
}

.quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas-slider .columns .corporativo-iniciativas-slider-imagen .corporativo-navegador div span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: "Century Gothic", sans-serif;
  font-size: 5rem;
  line-height: 4.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.colabora-nosotros-seccion .colabora-nosotros-titulo-cont {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

@media screen and (min-width: 1024px) {
  .colabora-nosotros-seccion .colabora-nosotros-titulo-cont {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.colabora-nosotros-seccion .colabora-nosotros-titulo-cont h2 {
  text-align: center;
  color: #3e3e3e;
  font-size: 3rem;
  line-height: 3rem;
  text-transform: uppercase;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  margin-bottom: 70px;
}

@media screen and (min-width: 1024px) {
  .colabora-nosotros-seccion .colabora-nosotros-titulo-cont h2 {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}

.colabora-nosotros-seccion .colabora-vacantes-cont {
  padding: 20px 0;
}

@media screen and (min-width: 1024px) {
  .colabora-nosotros-seccion .colabora-vacantes-cont {
    font-size: 1.5rem;
    line-height: 2rem;
    background: #1a1a1a;
    background: -webkit-gradient(linear, left top, left bottom, from(#1a1a1a), color-stop(50%, #1a1a1a), color-stop(50%, white), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(180deg, #1a1a1a 0%, #1a1a1a 50%, white 50%, rgba(255, 255, 255, 0) 100%);
    padding: 80px 0;
  }
}

.colabora-nosotros-seccion .colabora-vacantes-cont .columns .column:last-child .colabora-vacantes {
  margin-bottom: 0;
}

.colabora-nosotros-seccion .colabora-vacantes-cont .columns .column:last-child .colabora-vacantes h3 {
  font-size: 3rem;
  line-height: 3rem;
}

@media screen and (min-width: 1024px) {
  .colabora-nosotros-seccion .colabora-vacantes-cont .columns .column:last-child .colabora-vacantes h3 {
    font-size: 3rem;
    line-height: 3rem;
  }
}

.colabora-nosotros-seccion .colabora-vacantes-cont .colabora-vacantes {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1024px) {
  .colabora-nosotros-seccion .colabora-vacantes-cont .colabora-vacantes {
    margin-bottom: 0;
  }
}

.colabora-nosotros-seccion .colabora-vacantes-cont .colabora-vacantes h3 {
  color: #ffffff;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.65);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  line-height: 4rem;
  position: absolute;
  top: 0;
  left: 20px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  text-align: left;
}

.colabora-nosotros-seccion .colabora-vacantes-cont .colabora-vacantes img {
  width: 100%;
}

.colabora-nosotros-seccion .colabora-vacantes-cont .colabora-vacantes p {
  text-align: left;
  font-family: "Lato", sans-serif;
  color: #3e3e3e;
  max-width: 95%;
  margin: 20px auto 0;
}

.colabora-nosotros-seccion .colabora-vacantes-cont .column:last-child .colabora-vacantes h3 {
  -webkit-transform: translate(0, -30%);
          transform: translate(0, -30%);
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-creciendo {
  background: url(../img/corporativo/hexagonos.jpg) top center no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 100px 0 50px;
}

@media screen and (max-width: 1023px) {
  .colabora-nosotros-seccion .colabora-creciendo-cont .colabora-creciendo {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-top: -.75rem;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-creciendo .colabora-creciendo-int {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-creciendo .colabora-creciendo-int h3 {
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  line-height: 4rem;
  text-align: center;
  margin-bottom: 20px;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-creciendo .colabora-creciendo-int p {
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin-bottom: 20px;
  color: #e3e3e3;
  padding-left: 20px;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-creciendo .colabora-creciendo-int .colabora-creciendo-numeros {
  padding-top: 20px;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-creciendo .colabora-creciendo-int .colabora-creciendo-numeros .colabora-creciendo-numero-cont {
  padding-bottom: 20px;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-creciendo .colabora-creciendo-int .colabora-creciendo-numeros .colabora-creciendo-numero-cont .colabora-creciendo-numero-int {
  width: 40px;
  height: 40px;
  background-color: #202020;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-creciendo .colabora-creciendo-int .colabora-creciendo-numeros .colabora-creciendo-numero-cont .colabora-creciendo-numero-int span {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.3rem;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-creciendo .colabora-creciendo-int .colabora-creciendo-numeros .colabora-creciendo-numero-cont .colabora-creciendo-numero + div {
  font-family: "Lato", sans-serif;
  color: #e3e3e3;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: bold;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-creciendo .colabora-creciendo-int .colabora-creciendo-numeros .colabora-creciendo-numero-cont .colabora-creciendo-numero + div span {
  font-style: italic;
  font-weight: normal;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-tabs {
  text-align: center;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-tabs .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  line-height: 1.8rem;
  color: #ffffff;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  height: 100px;
  background-color: #202020;
  border-right: 1px solid #ffffff;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-tabs .column:last-child {
  border: none;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-tabs .column.active {
  background-color: #ed1d24;
  position: relative;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-tabs .column.active::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ed1d24;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-tabs-contenido {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  padding: 80px 10px;
  color: #3e3e3e;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-tabs-contenido h4 {
  font-family: "Century Gothic", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 50px;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-tabs-contenido ul {
  padding-left: 1em;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-tabs-contenido ul li {
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin: 10px 0;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-tabs-contenido ul li::before {
  content: "\2022";
  color: #ed1d24;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.usos-cotidianos {
  padding-top: 50px;
}

.usos-cotidianos-desc {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.usos-cotidianos-desc p {
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #3e3e3e;
}

.usos-cotidianos-acordeon-item {
  padding: 30px 0;
}

.usos-cotidianos-acordeon-item-header {
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #808080;
  padding-bottom: 20px;
}

.usos-cotidianos-acordeon-item-header:not(:last-child) {
  margin-bottom: 0;
}

.usos-cotidianos-acordeon-item-header p {
  font-family: "Century Gothic", sans-serif;
  font-size: 2.5rem;
  line-height: 2.2rem;
  color: #000000;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .usos-cotidianos-acordeon-item-header p {
    font-size: 4rem;
    line-height: 3.7rem;
  }
}

.usos-cotidianos-acordeon-item-header .acordeon-down-arrow {
  width: 30px;
  height: 30px;
  background-color: #ed1d24;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1024px) {
  .usos-cotidianos-acordeon-item-header .acordeon-down-arrow {
    width: 50px;
    height: 50px;
  }
}

.usos-cotidianos-acordeon-item-header .acordeon-down-arrow .flecha_down {
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 12px;
  height: 12px;
  margin-bottom: 6px;
}

@media screen and (min-width: 1024px) {
  .usos-cotidianos-acordeon-item-header .acordeon-down-arrow .flecha_down {
    width: 18px;
    height: 18px;
    margin-bottom: 10px;
  }
}

.usos-cotidianos-acordeon-item-header .acordeon-down-arrow .flecha_down.is-active {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-bottom: -4px;
}

@media screen and (min-width: 1024px) {
  .usos-cotidianos-acordeon-item-header .acordeon-down-arrow .flecha_down.is-active {
    margin-bottom: -5px;
  }
}

.usos-cotidianos-acordeon-item-body {
  position: relative;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  background-color: #202020;
  color: #ffffff;
}

.usos-cotidianos-acordeon-item-body.is-active {
  max-height: 1000px;
  padding: 50px 0;
}

.usos-cotidianos-acordeon-item-body-circulo {
  position: relative;
}

@media screen and (min-width: 1024px) {
  .usos-cotidianos-acordeon-item-body-circulo {
    margin-left: -15%;
  }
}

.usos-cotidianos-acordeon-item-body-circulo .play-button {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 100px;
  height: 100px;
  background-color: rgba(237, 29, 36, 0.95);
  border-radius: 100%;
}

.usos-cotidianos-acordeon-item-body-circulo .play-button .play-arrow {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 44px;
  height: 44px;
  border-style: solid;
  border-width: 22px 0 22px 44px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
}

.usos-cotidianos-acordeon-item-body-texto {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.usos-cotidianos-acordeon-item-body .usos-carousel-cont {
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}

.usos-cotidianos-acordeon-item-body .usos-carousel-cont#limpieza .slider-navigation-previous, .usos-cotidianos-acordeon-item-body .usos-carousel-cont#limpieza .slider-navigation-next {
  top: 150px;
}

.usos-cotidianos-acordeon-item-body .usos-carousel-cont h2 {
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  line-height: 4rem;
  font-style: italic;
  width: 80%;
}

.usos-cotidianos-acordeon-item-body .usos-carousel-cont .slider-navigation-previous, .usos-cotidianos-acordeon-item-body .usos-carousel-cont .slider-navigation-next {
  display: inline-block;
  width: auto;
  height: auto;
  color: #ed1d24;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.8rem;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  top: 120px;
  left: 130px;
}

.usos-cotidianos-acordeon-item-body .usos-carousel-cont .slider-navigation-previous:hover, .usos-cotidianos-acordeon-item-body .usos-carousel-cont .slider-navigation-next:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.usos-cotidianos-acordeon-item-body .usos-carousel-cont .slider-navigation-previous {
  -webkit-transform: translate(-180%, 0);
          transform: translate(-180%, 0);
}

.usos-cotidianos-acordeon-item-body .usos-carousel-cont .slider-navigation-previous:hover {
  -webkit-transform: scale(1) translate(-180%, 0);
          transform: scale(1) translate(-180%, 0);
}

.seccion-template-desc {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  color: #3e3e3e;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: "Lato", sans-serif;
}

.seccion-template-desc p {
  margin-bottom: 20px;
}

.seccion-template-productos {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0 50px;
}

.seccion-template-productos h3 {
  text-align: center;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: bold;
  font-family: "Century Gothic", sans-serif;
  color: #3e3e3e;
  margin-bottom: 80px;
}

@media screen and (min-width: 1024px) {
  .seccion-template-productos h3 {
    font-size: 5rem;
    line-height: 5rem;
  }
}

.seccion-template-productos-cont {
  border: 1px solid #3e3e3e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.seccion-template-productos-cont-image {
  padding: 20px;
}

.seccion-template-productos-cont-text {
  color: #ffffff;
  background-color: #202020;
  padding: 50px 15px 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.seccion-template-productos-cont-text h4 {
  font-family: "Century Gothic", sans-serif;
  font-style: italic;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 20px;
}

.seccion-template-productos-cont-text p {
  font-family: "Lato", sans-serif;
  text-align: justify;
}

.seccion-template-productos-cont-text-mas {
  background-color: rgba(237, 29, 36, 0.7);
  border-radius: 100%;
  width: 80px;
  height: 80px;
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.seccion-template-productos-cont-text-mas span {
  display: block;
  width: 50%;
  height: 5px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.seccion-template-productos-cont-text-mas span:nth-of-type(2) {
  width: 5px;
  height: 50%;
}

.localizador {
  padding-top: 50px;
  padding-bottom: 0;
}

.localizador-buscador {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  color: #2c2c2c;
}

.localizador-buscador h2 {
  font-family: "Century Gothic", sans-serif;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.localizador-buscador p {
  margin: 30px 0;
}

.localizador-buscador-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.localizador-buscador-input input[type='text'] {
  padding: 10px 15px;
  color: #3e3e3e;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 2.1rem;
  width: 80%;
  height: 50px;
  border: 1px solid #4c4c4c;
}

.localizador-buscador-input input[type='text']::-webkit-input-placeholder {
  color: #3e3e3e;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 2.1rem;
}

.localizador-buscador-input input[type='text']:-ms-input-placeholder {
  color: #3e3e3e;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 2.1rem;
}

.localizador-buscador-input input[type='text']::-ms-input-placeholder {
  color: #3e3e3e;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 2.1rem;
}

.localizador-buscador-input input[type='text']::placeholder {
  color: #3e3e3e;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 2.1rem;
}

.localizador-buscador-input button {
  color: #ffffff;
  border: none;
  background-color: #ed1d24;
  padding: 20px 50px;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  width: 20%;
  height: 50px;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .localizador-buscador-input button {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.localizador-mapa {
  background: url(../img/localizador/mapa.jpg) top center no-repeat;
  background-size: cover;
  min-width: 100%;
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 50px;
}

@media screen and (min-width: 1024px) {
  .localizador-mapa {
    height: 800px;
  }
}

@media screen and (max-width: 1023px) {
  .localizador-mapa {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

.localizador-mapa-info {
  background-color: #202020;
  background-image: url(../img/localizador/pleca.png);
  background-position: bottom -20px center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding: 60px 15px 30px;
  position: relative;
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}

@media screen and (min-width: 1024px) {
  .localizador-mapa-info {
    padding: 60px 0 100px;
  }
}

.localizador-mapa-info .cerrar {
  font-family: "Century Gothic", sans-serif;
  font-size: 3rem;
  line-height: 2rem;
  background-color: #202020;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  padding-top: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.localizador-mapa-info p {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

@media screen and (min-width: 1024px) {
  .localizador-mapa-info p {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

.localizador-mapa-info-texto {
  text-align: left;
}

.localizador-mapa-info-texto h4 {
  color: #ed1d24;
  font-size: 1.7rem;
  line-height: 1.7rem;
  margin-bottom: 10px;
}

@media screen and (min-width: 1024px) {
  .localizador-mapa-info-texto h4 {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.localizador-mapa-info-texto h3 {
  font-family: "Century Gothic", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 25px;
  font-style: italic;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .localizador-mapa-info-texto h3 {
    font-size: 3rem;
    line-height: 3rem;
  }
}

.blog-thumbnails {
  padding: 80px 0 50px;
  background-color: #dbdbdb;
  position: relative;
  overflow: hidden;
}

.blog-thumbnails h2 {
  font-size: 5rem;
  line-height: 5rem;
  color: #3e3e3e;
  font-family: "Century Gothic", sans-serif;
  margin-bottom: 30px;
  font-weight: bold;
}

.blog-thumbnails .slider-navigation-previous-calidra, .blog-thumbnails .slider-navigation-next-calidra {
  background-color: #ed1d24;
  z-index: 1000;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
}

.blog-thumbnails .slider-navigation-previous-calidra .flecha, .blog-thumbnails .slider-navigation-next-calidra .flecha {
  border-left: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

@media screen and (min-width: 1024px) {
  .blog-thumbnails .slider-navigation-previous-calidra, .blog-thumbnails .slider-navigation-next-calidra {
    width: 150px;
    height: 150px;
  }
  .blog-thumbnails .slider-navigation-previous-calidra .flecha, .blog-thumbnails .slider-navigation-next-calidra .flecha {
    border-left: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 28px;
    height: 28px;
    margin-right: 25px;
  }
}

.blog-thumbnails .slider-navigation-next-calidra {
  left: auto;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.blog-thumbnails .slider-navigation-next-calidra .flecha {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-left: 15px;
}

@media screen and (min-width: 1024px) {
  .blog-thumbnails .slider-navigation-next-calidra .flecha {
    margin-right: 25px;
  }
}

.blog-thumbnails-contenedor {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.blog-thumbnails-contenedor .carousel {
  overflow: hidden;
}

.blog-thumbnails-contenedor .carousel .car-item {
  padding: 0 15px;
}

.blog-thumbnails-contenedor .carousel .car-item img {
  width: 100%;
  margin-bottom: 20px;
}

.blog-thumbnails-contenedor .carousel .car-item p {
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #808080;
  max-width: 80%;
}

.blog-section {
  padding: 80px 0;
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
}

.blog-section-mini-text h3 {
  font-size: 3rem;
  line-height: 3rem;
  color: #202020;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 20px;
}

.blog-section-mini-text-desc {
  color: #3e3e3e;
}

.blog-section-mini-text-meta {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-family: "Lato", sans-serif;
  margin: 10px 0;
}

.blog-section-mini-text-meta span {
  color: #ed1d24;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}

.blog-interior {
  padding: 50px 0 80px;
}

.blog-interior h2 {
  font-family: "Century Gothic", sans-serif;
  font-size: 3.5rem;
  line-height: 3.5rem;
  color: #202020;
  font-style: italic;
  margin-bottom: 15px;
  font-weight: bold;
}

.blog-interior-meta {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-family: "Lato", sans-serif;
  margin: 10px 0;
}

.blog-interior-meta span {
  color: #ed1d24;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}

.blog-interior-text {
  font-family: "Lato", sans-serif;
  text-align: justify;
  color: #3e3e3e;
}

.blog-interior-text p {
  margin-bottom: 15px;
}

.blog-interior-img {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.blog-interior-img img {
  min-width: 100%;
  min-height: 100%;
  max-width: 200%;
}

.blog-interior-img-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
}

.blog-interior-img-mid-item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.blog-interior-img-mid-item img {
  max-width: 200%;
  min-height: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.contacto-parrafo {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  color: #3e3e3e;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contacto-form {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.contacto-form-item {
  padding: 15px 0;
}

.contacto-form-item.comentarios {
  margin-top: 50px;
}

.contacto-form-item label {
  display: block;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: #202020;
}

.contacto-form-item input[type="text"] {
  border: none;
  border-bottom: 1px solid #808080;
  display: block;
  width: 100%;
  font-family: "Century Gothic", sans-serif;
  padding: 5px 0;
}

.contacto-form-item .select {
  width: 100%;
}

.contacto-form-item .select:not(.is-multiple):not(.is-loading)::after {
  background: url("../img/contacto/drop.png") center center no-repeat;
  background-size: contain;
  border: none;
  -webkit-transform: none;
          transform: none;
  width: 30px;
  height: 30px;
}

.contacto-form-item .select select {
  width: 100%;
  border: none;
  border-bottom: 1px solid #808080;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2.5rem;
  border-radius: 0;
  padding-left: 0;
}

.contacto-form-item .select select option {
  font-size: 1.8rem;
  line-height: 2rem;
}

.contacto-form-terminos {
  margin-top: 50px;
  font-family: "Lato", sans-serif;
}

.contacto-form-terminos input[type="checkbox"] {
  margin-right: 5px;
}

.contacto-form-terminos a {
  text-decoration: underline;
}

.contacto-form button {
  color: #ffffff;
  border: none;
  background-color: #ed1d24;
  padding: 20px 50px;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  margin: 50px 0;
}

@media screen and (min-width: 1024px) {
  .contacto-form button {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.template-localizador {
  background: url(../img/seccion_template/localizador_back.jpg) top center no-repeat;
  background-size: cover;
  color: #ffffff;
  padding-top: 80px;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .template-localizador {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-top: -.75rem;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.template-localizador-cta {
  display: inline-block;
  text-align: left;
}

.template-localizador-cta h3 {
  font-family: "Century Gothic", sans-serif;
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 20px;
}

.template-localizador-cta p {
  font-family: "Lato", sans-serif;
  margin-bottom: 30px;
}

.template-localizador button {
  color: #ffffff;
  border: none;
  background-color: #202020;
  padding: 20px 50px;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .template-localizador button {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.template-videos {
  padding-bottom: 80px;
}

.template-videos h3 {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: bold;
  font-family: "Century Gothic", sans-serif;
  color: #3e3e3e;
  margin: 50px 0;
}

@media screen and (min-width: 1024px) {
  .template-videos h3 {
    font-size: 5rem;
    line-height: 5rem;
  }
}

.template-videos .video-cont {
  width: 100%;
  position: relative;
  background: url(../img/seccion_template/video.jpg) center center no-repeat;
  background-size: cover;
}

.template-videos .video-cont.video-big {
  height: 500px;
}

.template-videos .video-cont.video-small {
  height: 245px;
}

.template-videos .video-cont.video-small:first-child {
  margin-bottom: 10px;
}

.template-videos .video-cont .black-screen {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.template-videos .video-cont .black-screen .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: #ed1d24;
  border-radius: 100%;
}

.template-videos .video-cont .black-screen .play-button .play-arrow {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 44px;
  height: 44px;
  border-style: solid;
  border-width: 22px 0 22px 44px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
}

.producto-interior-cont {
  padding: 50px 0;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.producto-interior-cont h2 {
  color: #3e3e3e;
  font-size: 5rem;
  line-height: 5rem;
  font-style: italic;
  font-weight: bold;
  font-family: "Century Gothic", sans-serif;
}

@media screen and (min-width: 1024px) {
  .producto-interior-cont-circulo {
    margin-left: -15%;
  }
}

.producto-interior-cont-circulo-int {
  border-radius: 100%;
  border: 2px solid #3e3e3e;
  width: 250px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .producto-interior-cont-circulo-int {
    width: 500px;
    height: 500px;
  }
}

.producto-interior-cont-circulo-int img {
  max-height: 80%;
  max-width: 80%;
  margin-left: -20px;
}

.producto-interior-cont-ficha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1024px) {
  .producto-interior-cont-ficha {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.producto-interior-cont-ficha a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.producto-interior-cont-ficha span:first-of-type {
  width: 80px;
  height: 80px;
  background-color: #ed1d24;
  display: block;
  border-radius: 100%;
  color: rgba(255, 255, 255, 0.9);
  font-size: 4rem;
  line-height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  margin-right: 20px;
}

.producto-interior-cont-ficha span:nth-of-type(2) {
  font-family: "Century Gothic", sans-serif;
  color: #ed1d24;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.producto-interior-cont-desc {
  font-family: "Lato", sans-serif;
  color: #3e3e3e;
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  font-weight: bold;
  text-align: justify;
}

@media screen and (min-width: 1024px) {
  .producto-interior-cont-desc {
    font-size: 1.6rem;
    line-height: 2.1rem;
  }
}

.producto-interior-otros {
  background-color: #202020;
  padding: 50px 0 80px;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .producto-interior-otros {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-top: -.75rem;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.producto-interior-otros-cont {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.producto-interior-otros-cont h2 {
  color: #ffffff;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 3.5rem;
  margin-bottom: 50px;
}

.producto-interior-otros-cont-image {
  background-color: #ffffff;
}

.producto-interior-otros-cont-image img {
  max-width: 80%;
}

.producto-interior-otros-cont-text {
  background-color: #ed1d24;
  color: #ffffff;
  padding: 15px;
}

.video-cont-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100000000;
  background-color: rgba(32, 32, 32, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}

.video-cont-fullscreen .youtube-cont {
  position: relative;
  max-width: 85%;
}

.video-cont-fullscreen .youtube-cont iframe {
  max-width: 100%;
}

@media screen and (max-width: 1023px) {
  .video-cont-fullscreen .youtube-cont iframe {
    max-height: 400px;
  }
}

.video-cont-fullscreen .youtube-cont .close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-color: #000000;
  border-radius: 100%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.video-cont-fullscreen .youtube-cont .close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.video-cont-fullscreen .youtube-cont .close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.video-cont-fullscreen .youtube-cont .close:before, .video-cont-fullscreen .youtube-cont .close:after {
  position: absolute;
  top: 8px;
  left: 24px;
  content: ' ';
  height: 33px;
  width: 2px;
  border-radius: 5px;
  background-color: #808080;
}
/*# sourceMappingURL=style.css.map */