.burger {
  width: 40px;
  height: 35px;
  position: relative;
  margin: 0 20px 0 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.burger span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #ed1d24;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.burger span:nth-child(1) {
  top: 0px;
}

.burger span:nth-child(2), .burger span:nth-child(3) {
  top: 10px;
}

.burger span:nth-child(4) {
  top: 20px;
}

.burger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.burger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 2rem;
}

a, a:link, a:visited, a:focus {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 0;
  }
}

footer {
  background: url(../img/footer_pleca.png) bottom -10px center no-repeat;
  background-size: contain;
  font-family: "Lato", sans-serif;
  color: #3e3e3e;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

@media screen and (max-width: 1023px) {
  footer {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-top: -.75rem;
    padding-left: 15px;
    padding-right: 15px;
  }
}

footer .top-footer {
  padding-top: 30px;
}

footer .top-footer ul {
  font-weight: bold;
}

footer .top-footer ul li {
  margin-bottom: 3px;
}

footer .top-footer .footer-correo i {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 10px;
}

footer .top-footer .footer-correo i:nth-of-type(2) {
  margin-top: 30px;
}

footer .footer-bottom {
  margin-top: 100px;
  background-color: #ed1d24;
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
}

footer .footer-bottom-border {
  display: inline-block;
  border-right: 2px solid #ffffff;
  padding-right: 40px;
  margin: 7px 0;
}

.nav-container {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-container .top-menu {
  background-color: #000000;
  color: #ffffff;
}

.nav-container .top-menu .search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .nav-container .top-menu .search-container {
    padding: 15px 0;
  }
}

.nav-container .top-menu .search-container p {
  margin-left: 30px;
}

.nav-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.nav-container nav .logo {
  width: 20%;
}

@media screen and (max-width: 1023px) {
  .nav-container nav .logo {
    margin-left: 10px;
  }
}

.nav-container nav .burger {
  position: relative;
  z-index: 101;
}

@media screen and (min-width: 1024px) {
  .nav-container nav .burger {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .nav-container nav .nav-ul.open {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media screen and (max-width: 1023px) {
  .nav-container nav .nav-ul {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #202020;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    color: #808080;
    padding-top: 80px;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}

@media screen and (min-width: 1024px) {
  .nav-container nav .nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 20px;
    width: 80%;
  }
}

@media screen and (max-width: 1023px) {
  .nav-container nav .nav-ul li {
    text-align: center;
    font-size: 2rem;
    margin: 30px 0;
  }
}

@media screen and (min-width: 1024px) {
  .nav-container nav .nav-ul li {
    margin: 0 10px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-container nav .nav-ul li {
    margin: 0;
  }
}

.hero-banner {
  width: 100%;
  height: calc(100vh - 121px);
  position: relative;
}

@media screen and (min-width: 1024px) {
  .hero-banner {
    height: 600px;
  }
}

.hero-banner .hero-copy-container {
  background-color: rgba(237, 29, 36, 0.85);
  width: 40%;
  height: 100%;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .hero-banner .hero-copy-container {
    width: 25%;
  }
}

.hero-banner .hero-copy-container .hero-copy {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  color: #ffffff;
  font-family: "Century Gothic", sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
  width: 60vw;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.65);
}

@media screen and (min-width: 1024px) {
  .hero-banner .hero-copy-container .hero-copy {
    font-size: 6rem;
    line-height: 6rem;
    right: -50px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 90%;
  }
}

@media screen and (min-width: 1800px) {
  .hero-banner .hero-copy-container .hero-copy {
    right: -230px;
  }
}

.hero-banner .hero-copy-container .hero-copy .hero-big-copy {
  font-size: 4.5rem;
  line-height: 4.5rem;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .hero-banner .hero-copy-container .hero-copy .hero-big-copy {
    font-size: 8rem;
    line-height: 8rem;
    margin-bottom: 20px;
  }
}

.hero-banner .hero-copy-container .hero-cta {
  color: #000000;
  border: none;
  background-color: #ffffff;
  padding: 20px 50px;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  margin-top: 50px;
}

@media screen and (min-width: 1024px) {
  .hero-banner .hero-copy-container .hero-cta {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .home-productos {
    padding: 50px 0;
  }
}

@media screen and (min-width: 1024px) {
  .home-productos-desc {
    padding: 0 50px 0 0;
  }
}

.home-productos-desc h2 {
  font-family: "Century Gothic", sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  color: #3e3e3e;
  margin-bottom: 20px;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .home-productos-desc h2 {
    font-size: 5rem;
    line-height: 5rem;
  }
}

.home-productos-desc p {
  font-family: "Lato", sans-serif;
  text-align: justify;
  font-size: 1.4rem;
}

@media screen and (min-width: 1024px) {
  .home-productos-desc p {
    font-size: 1.6rem;
  }
}

.home-productos-item-cont {
  position: relative;
}

@media screen and (min-width: 1024px) {
  .home-productos-item-cont {
    padding: 0 0 0 50px;
  }
}

.home-productos-item-cont .home-productos-item {
  background-color: #202020;
  padding: 40px 50px 100px;
  color: #ffffff;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .home-productos-item-cont .home-productos-item {
    padding: 40px 50px 200px;
  }
}

.home-productos-item-cont .home-productos-item .productos-numero {
  position: absolute;
  top: 5px;
  left: 15px;
  color: rgba(62, 62, 62, 0.5);
  font-size: 10rem;
  line-height: 10rem;
  font-family: "Montserrat", sans-serif;
}

.home-productos-item-cont .home-productos-item .productos-icono {
  width: 25%;
  display: block;
  margin: 0 auto 30px;
}

.home-productos-item-cont .home-productos-item .producto-titulo {
  font-family: "Century Gothic", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 2.8rem;
  text-align: center;
  width: 45%;
  margin: 0 auto;
}

.home-productos-item-cont .home-productos-item .producto-separador {
  margin: 30px auto;
  width: 50px;
  height: 3px;
  background-color: #ed1d24;
}

.home-productos-item-cont .home-productos-item .producto-desc {
  font-family: "Century Gothic", sans-serif;
  color: #e3e3e3;
  text-align: justify;
}

.home-productos-item-cont .home-productos-item .producto-vermas {
  font-family: "Century Gothic", sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: bold;
  color: #e3e3e3;
  letter-spacing: 4px;
  margin: 30px 0;
}

.home-productos-item-cont .productos-navegador {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  overflow: hidden;
  background-color: rgba(237, 29, 36, 0.9);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1024px) {
  .home-productos-item-cont .productos-navegador {
    left: calc(50% + 25px);
  }
}

.home-productos-item-cont .productos-navegador div {
  position: relative;
  width: 70px;
  height: 140px;
}

.home-productos-item-cont .productos-navegador div span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: "Century Gothic", sans-serif;
  font-size: 5rem;
  line-height: 4.5rem;
}

.home-resto-contenido {
  background-color: #dbdbdb;
  padding-bottom: 30px;
  position: relative;
  z-index: 2;
}

.home-resto-contenido .container {
  background: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(45%, rgba(255, 255, 255, 0)), color-stop(45%, #ed1d24), color-stop(45%, #ed1d24), color-stop(50%, #ed1d24), color-stop(55%, #ed1d24), color-stop(55%, rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 45%, #ed1d24 45%, #ed1d24 45%, #ed1d24 50%, #ed1d24 55%, rgba(255, 255, 255, 0) 55%);
  position: relative;
  padding-top: 10px;
}

@media screen and (min-width: 1024px) {
  .home-resto-contenido .container {
    padding-top: 80px;
  }
}

.home-resto-contenido .container h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  line-height: 5rem;
  position: relative;
  top: -30px;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.65);
  color: #ffffff;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .home-resto-contenido .container h3 {
    width: 35%;
  }
}

.home-resto-contenido .container .usos-cotidianos {
  background: url("../img/home/usos_cotidianos.jpg") center center no-repeat;
  background-size: cover;
  height: 500px;
}

.home-resto-contenido .container .home-blog {
  background: url("../img/home/blog.jpg") center center no-repeat;
  background-size: cover;
  height: 500px;
  margin-top: 40px;
}

@media screen and (min-width: 1024px) {
  .home-resto-contenido .container .home-blog {
    margin-top: 0;
  }
}

.home-resto-contenido .container .home-asesor {
  background: url("../img/home/asesor.jpg") center center no-repeat;
  background-size: cover;
  height: 500px;
  margin-top: 40px;
  position: relative;
  z-index: 2;
}

.home-resto-contenido .container .home-asesor h3 {
  top: -40px;
}

.home-resto-contenido .container .go-down-arrow {
  width: 160px;
  height: 160px;
  background-color: rgba(237, 29, 36, 0.9);
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 70%);
          transform: translate(-50%, 70%);
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home-resto-contenido .container .go-down-arrow .flecha_down {
  border-left: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0 auto 20px;
  width: 28px;
  height: 28px;
}

.contacto-banner {
  width: 100%;
  height: 100vh;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .contacto-banner {
    height: 500px;
  }
}

.contacto-banner .contacto-copy-container {
  background-color: rgba(0, 0, 0, 0.63);
  width: 40%;
  height: 100%;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .contacto-banner .contacto-copy-container {
    width: 25%;
  }
}

.contacto-banner .contacto-copy-container .contacto-copy {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  color: #ffffff;
  font-family: "Century Gothic", sans-serif;
  font-size: 1.3rem;
  line-height: 1.9rem;
  width: 60vw;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.65);
}

@media screen and (min-width: 1024px) {
  .contacto-banner .contacto-copy-container .contacto-copy {
    right: -50px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 90%;
  }
}

@media screen and (min-width: 1800px) {
  .contacto-banner .contacto-copy-container .contacto-copy {
    right: -230px;
  }
}

.contacto-banner .contacto-copy-container .contacto-copy .contacto-big-copy {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .contacto-banner .contacto-copy-container .contacto-copy .contacto-big-copy {
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 20px;
  }
}

.contacto-banner .contacto-copy-container .contacto-cta {
  color: #ffffff;
  border: none;
  background-color: #ed1d24;
  padding: 20px 50px;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  margin-top: 50px;
}

@media screen and (min-width: 1024px) {
  .contacto-banner .contacto-copy-container .contacto-cta {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.seccion-hero {
  width: 100%;
  height: 450px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.seccion-hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .seccion-hero .container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.seccion-hero .container.derecho {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1024px) {
  .seccion-hero .container.derecho {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.seccion-hero .container p {
  font-size: 4rem;
  line-height: 4rem;
  color: #202020;
  text-transform: capitalize;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  padding-bottom: 20px;
  text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.65);
}

@media screen and (min-width: 1024px) {
  .seccion-hero .container p {
    font-size: 8rem;
    line-height: 8rem;
  }
}

.seccion-hero .container p.blanco {
  color: #ffffff;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.65);
}

.quienes-somos {
  margin: 20px 0 50px;
}

.quienes-somos-titulo-cont h2 {
  text-align: center;
  color: #3e3e3e;
  font-size: 4.5rem;
  line-height: 4.5rem;
  text-transform: uppercase;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
}

.quienes-somos-mini-cont {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  margin: 50px auto 70px;
}

.quienes-somos-mini-cont .quienes-somos-texto {
  margin-bottom: 30px;
  font-family: "Lato", sans-serif;
}

.quienes-somos-mini-cont .quienes-somos-texto p {
  margin-bottom: 20px;
  text-align: justify;
}

.quienes-somos-mini-cont .quienes-somos-iconos {
  text-align: center;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-style: italic;
}

.quienes-somos-mini-cont .quienes-somos-iconos p {
  margin-top: 20px;
}

.quienes-somos .responsabilidad-social {
  background-color: #202020;
  padding: 20px 0;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .quienes-somos .responsabilidad-social {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-top: -.75rem;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .quienes-somos .responsabilidad-social {
    padding: 80px 0;
  }
}

.quienes-somos .responsabilidad-social-imagen-cont {
  text-align: right;
}

.quienes-somos .responsabilidad-social-imagen-cont img {
  width: 1000px;
  max-width: 100%;
}

.quienes-somos .responsabilidad-social-texto {
  color: #ffffff;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.65);
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .quienes-somos .responsabilidad-social-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.quienes-somos .responsabilidad-social-texto h2 {
  font-family: "Century Gothic", sans-serif;
  font-size: 3.5rem;
  line-height: 3.5rem;
  width: 900px;
  max-width: 100%;
  margin-bottom: 30px;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .quienes-somos .responsabilidad-social-texto h2 {
    font-size: 7rem;
    line-height: 7rem;
  }
}

.quienes-somos .responsabilidad-social-texto p {
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  width: 750px;
  max-width: 100%;
}

.quienes-somos .colabora-nosotros {
  padding: 80px 0;
}

.quienes-somos .colabora-nosotros .colabora-imagen {
  position: relative;
}

.quienes-somos .colabora-nosotros .colabora-imagen .colabora-imagen-over {
  height: 350px;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .quienes-somos .colabora-nosotros .colabora-imagen .colabora-imagen-over {
    height: 550px;
  }
}

.quienes-somos .colabora-nosotros .colabora-imagen .colabora-imagen-over img {
  min-width: 100%;
  min-height: 100%;
}

.quienes-somos .colabora-nosotros .colabora-imagen h2 {
  color: #ffffff;
  font-family: "Century Gothic", sans-serif;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: bold;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.65);
  position: absolute;
  left: 20px;
  bottom: 0;
  -webkit-transform: translate(0, 25%);
          transform: translate(0, 25%);
}

@media screen and (min-width: 1024px) {
  .quienes-somos .colabora-nosotros .colabora-imagen h2 {
    font-size: 8rem;
    line-height: 8rem;
  }
}

.quienes-somos .colabora-nosotros p {
  color: #3e3e3e;
  margin: 50px 0;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.quienes-somos .colabora-nosotros .colabora-vermas {
  font-family: "Century Gothic", sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: bold;
  color: #202020;
  letter-spacing: 4px;
  margin: 30px 0;
}

.quienes-somos .corporativo-iniciativas-cont {
  background: url(../img/corporativo/hexagonos.jpg) top center no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 150px 0 0;
}

@media screen and (max-width: 1023px) {
  .quienes-somos .corporativo-iniciativas-cont {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-top: -.75rem;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas {
  width: 800px;
  max-width: 100%;
  margin-bottom: 80px;
}

.quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas h2 {
  font-family: "Century Gothic", sans-serif;
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 40px;
  font-weight: bold;
}

.quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas p {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
}

@media screen and (min-width: 1024px) {
  .quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas-slider {
    -webkit-transform: translate(0, 60%);
            transform: translate(0, 60%);
    margin-top: -200px;
    margin-bottom: 300px;
  }
}

.quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas-slider .columns {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas-slider .columns .corporativo-iniciativas-slider-texto {
  -ms-flex-preferred-size: unset;
      flex-basis: unset;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-family: "Lato", sans-serif;
}

@media screen and (min-width: 1024px) {
  .quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas-slider .columns .corporativo-iniciativas-slider-texto {
    padding-right: 50px;
    width: 40%;
  }
}

.quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas-slider .columns .corporativo-iniciativas-slider-texto h3 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas-slider .columns .corporativo-iniciativas-slider-imagen {
  -ms-flex-preferred-size: unset;
      flex-basis: unset;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  padding-left: 0;
}

@media screen and (min-width: 1024px) {
  .quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas-slider .columns .corporativo-iniciativas-slider-imagen {
    top: -80px;
  }
}

.quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas-slider .columns .corporativo-iniciativas-slider-imagen .corporativo-navegador {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  overflow: hidden;
  background-color: rgba(32, 32, 32, 0.9);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1024px) {
  .quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas-slider .columns .corporativo-iniciativas-slider-imagen .corporativo-navegador {
    bottom: 50%;
    left: 0;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
}

.quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas-slider .columns .corporativo-iniciativas-slider-imagen .corporativo-navegador div {
  position: relative;
  width: 70px;
  height: 140px;
}

.quienes-somos .corporativo-iniciativas-cont .corporativo-iniciativas-slider .columns .corporativo-iniciativas-slider-imagen .corporativo-navegador div span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: "Century Gothic", sans-serif;
  font-size: 5rem;
  line-height: 4.5rem;
}

.colabora-nosotros-seccion .colabora-nosotros-titulo-cont {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

@media screen and (min-width: 1024px) {
  .colabora-nosotros-seccion .colabora-nosotros-titulo-cont {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.colabora-nosotros-seccion .colabora-nosotros-titulo-cont h2 {
  text-align: center;
  color: #3e3e3e;
  font-size: 3rem;
  line-height: 3rem;
  text-transform: uppercase;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  margin-bottom: 70px;
}

@media screen and (min-width: 1024px) {
  .colabora-nosotros-seccion .colabora-nosotros-titulo-cont h2 {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}

.colabora-nosotros-seccion .colabora-vacantes-cont {
  padding: 20px 0;
}

@media screen and (min-width: 1024px) {
  .colabora-nosotros-seccion .colabora-vacantes-cont {
    font-size: 1.5rem;
    line-height: 2rem;
    background: #1a1a1a;
    background: -webkit-gradient(linear, left top, left bottom, from(#1a1a1a), color-stop(50%, #1a1a1a), color-stop(50%, white), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(180deg, #1a1a1a 0%, #1a1a1a 50%, white 50%, rgba(255, 255, 255, 0) 100%);
    padding: 80px 0;
  }
}

.colabora-nosotros-seccion .colabora-vacantes-cont .columns .column:last-child .colabora-vacantes {
  margin-bottom: 0;
}

.colabora-nosotros-seccion .colabora-vacantes-cont .columns .column:last-child .colabora-vacantes h3 {
  font-size: 3rem;
  line-height: 3rem;
}

@media screen and (min-width: 1024px) {
  .colabora-nosotros-seccion .colabora-vacantes-cont .columns .column:last-child .colabora-vacantes h3 {
    font-size: 3rem;
    line-height: 3rem;
  }
}

.colabora-nosotros-seccion .colabora-vacantes-cont .colabora-vacantes {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1024px) {
  .colabora-nosotros-seccion .colabora-vacantes-cont .colabora-vacantes {
    margin-bottom: 0;
  }
}

.colabora-nosotros-seccion .colabora-vacantes-cont .colabora-vacantes h3 {
  color: #ffffff;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.65);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  line-height: 4rem;
  position: absolute;
  top: 0;
  left: 20px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  text-align: left;
}

.colabora-nosotros-seccion .colabora-vacantes-cont .colabora-vacantes img {
  width: 100%;
}

.colabora-nosotros-seccion .colabora-vacantes-cont .colabora-vacantes p {
  text-align: left;
  font-family: "Lato", sans-serif;
  color: #3e3e3e;
  max-width: 95%;
  margin: 20px auto 0;
}

.colabora-nosotros-seccion .colabora-vacantes-cont .column:last-child .colabora-vacantes h3 {
  -webkit-transform: translate(0, -30%);
          transform: translate(0, -30%);
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-creciendo {
  background: url(../img/corporativo/hexagonos.jpg) top center no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 100px 0 50px;
}

@media screen and (max-width: 1023px) {
  .colabora-nosotros-seccion .colabora-creciendo-cont .colabora-creciendo {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-top: -.75rem;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-creciendo .colabora-creciendo-int {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-creciendo .colabora-creciendo-int h3 {
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  line-height: 4rem;
  text-align: center;
  margin-bottom: 20px;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-creciendo .colabora-creciendo-int p {
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin-bottom: 20px;
  color: #e3e3e3;
  padding-left: 20px;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-creciendo .colabora-creciendo-int .colabora-creciendo-numeros {
  padding-top: 20px;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-creciendo .colabora-creciendo-int .colabora-creciendo-numeros .colabora-creciendo-numero-cont {
  padding-bottom: 20px;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-creciendo .colabora-creciendo-int .colabora-creciendo-numeros .colabora-creciendo-numero-cont .colabora-creciendo-numero-int {
  width: 40px;
  height: 40px;
  background-color: #202020;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-creciendo .colabora-creciendo-int .colabora-creciendo-numeros .colabora-creciendo-numero-cont .colabora-creciendo-numero-int span {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.3rem;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-creciendo .colabora-creciendo-int .colabora-creciendo-numeros .colabora-creciendo-numero-cont .colabora-creciendo-numero + div {
  font-family: "Lato", sans-serif;
  color: #e3e3e3;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: bold;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-creciendo .colabora-creciendo-int .colabora-creciendo-numeros .colabora-creciendo-numero-cont .colabora-creciendo-numero + div span {
  font-style: italic;
  font-weight: normal;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-tabs {
  text-align: center;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-tabs .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  line-height: 1.8rem;
  color: #ffffff;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  height: 100px;
  background-color: #202020;
  border-right: 1px solid #ffffff;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-tabs .column:last-child {
  border: none;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-tabs .column.active {
  background-color: #ed1d24;
  position: relative;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-tabs .column.active::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ed1d24;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-tabs-contenido {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  padding: 80px 10px;
  color: #3e3e3e;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-tabs-contenido h4 {
  font-family: "Century Gothic", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 50px;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-tabs-contenido ul {
  padding-left: 1em;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-tabs-contenido ul li {
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin: 10px 0;
}

.colabora-nosotros-seccion .colabora-creciendo-cont .colabora-tabs-contenido ul li::before {
  content: "\2022";
  color: #ed1d24;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.usos-cotidianos {
  padding-top: 50px;
}

.usos-cotidianos-desc {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.usos-cotidianos-desc p {
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #3e3e3e;
}

.usos-cotidianos-acordeon-item {
  padding: 30px 0;
  border-bottom: 1px solid #808080;
}

.usos-cotidianos-acordeon-item-header p {
  font-family: "Century Gothic", sans-serif;
  font-size: 2.5rem;
  line-height: 2.2rem;
  color: #000000;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .usos-cotidianos-acordeon-item-header p {
    font-size: 4rem;
    line-height: 3.7rem;
  }
}

.usos-cotidianos-acordeon-item-header .acordeon-down-arrow {
  width: 30px;
  height: 30px;
  background-color: #ed1d24;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1024px) {
  .usos-cotidianos-acordeon-item-header .acordeon-down-arrow {
    width: 50px;
    height: 50px;
  }
}

.usos-cotidianos-acordeon-item-header .acordeon-down-arrow .flecha_down {
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 12px;
  height: 12px;
  margin-bottom: 6px;
}

@media screen and (min-width: 1024px) {
  .usos-cotidianos-acordeon-item-header .acordeon-down-arrow .flecha_down {
    width: 18px;
    height: 18px;
    margin-bottom: 10px;
  }
}

.usos-cotidianos-acordeon-item-header .acordeon-down-arrow .flecha_down.is-active {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-bottom: -4px;
}

@media screen and (min-width: 1024px) {
  .usos-cotidianos-acordeon-item-header .acordeon-down-arrow .flecha_down.is-active {
    margin-bottom: -5px;
  }
}

.usos-cotidianos-acordeon-item-body {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.usos-cotidianos-acordeon-item-body.is-active {
  max-height: 1000px;
}

.seccion-template-desc {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  color: #3e3e3e;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: "Lato", sans-serif;
}

.seccion-template-desc p {
  margin-bottom: 20px;
}

.seccion-template-productos h3 {
  text-align: center;
  font-size: 5rem;
  line-height: 5rem;
  font-family: "Century Gothic", sans-serif;
  color: #3e3e3e;
  margin-bottom: 50px;
}

.seccion-template-localizador {
  background: url(../img/seccion_template/localizador_back.jpg) top center no-repeat;
  background-size: cover;
  color: #ffffff;
  padding-top: 80px;
  text-align: center;
}

.seccion-template-localizador-cta {
  display: inline-block;
  text-align: left;
}

.seccion-template-localizador-cta h3 {
  font-family: "Century Gothic", sans-serif;
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 20px;
}

.seccion-template-localizador-cta p {
  font-family: "Lato", sans-serif;
  margin-bottom: 30px;
}

.seccion-template-localizador button {
  color: #ffffff;
  border: none;
  background-color: #202020;
  padding: 20px 50px;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .seccion-template-localizador button {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.seccion-template-videos h3 {
  font-size: 5rem;
  line-height: 5rem;
  font-family: "Century Gothic", sans-serif;
  color: #3e3e3e;
  margin: 50px 0;
}

.seccion-template-videos .video-cont {
  width: 100%;
  position: relative;
  background: url(../img/seccion_template/video.jpg) center center no-repeat;
  background-size: cover;
}

.seccion-template-videos .video-cont.video-big {
  height: 500px;
}

.seccion-template-videos .video-cont.video-small {
  height: 245px;
}

.seccion-template-videos .video-cont.video-small:first-child {
  margin-bottom: 10px;
}

.seccion-template-videos .video-cont .black-screen {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.seccion-template-videos .video-cont .black-screen .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 100%;
}

.seccion-template-videos .video-cont .black-screen .play-button .play-arrow {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 44px;
  height: 44px;
  border-style: solid;
  border-width: 22px 0 22px 44px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
}
/*# sourceMappingURL=style.css.map */